
<div>
    <h4 class="mb-4 text-muted">Individual Analysis</h4>
  
    <div class="row">
        <div class="col-12 col-xl-4 mb-4">
            <div id="container1"></div>
          </div>
          <div class="col-12 col-xl-4 mb-4">
            <div id="container2"></div>
          </div>
    

        <div class="col-12 col-xl-4 mb-4">
            <div id="container3"></div>
          </div>
        </div>

        
          <div class="row">
          <div class="col-12 col-xl-4 mb-4">
            <div id="container4"></div>
          </div>
   
    
        <div class="col-12 col-xl-4 mb-4">
            <div id="container5"></div>
          </div>
          <div class="col-12 col-xl-4 mb-4">
            <div id="container6"></div>
          </div>
    </div>
</div>
