<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<!-- style="background-image: url(/assets/img/bg1.jpg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;" -->
<aside class="sidebar shadow-sm" 

>

    <div class="sidebar-profile d-flex flex-column justify-content-center pt-5 pb-3">
      <div class="picture-wrapper mb-4">
        <div class="user-picture m-auto">
          <img src="./assets/img/user.JPG" class="img-fluid" alt="">
        </div>
      </div>
      <div class="profile-details text-center pb-4">
        <p class="mb-0 text-uppercase name">Vikrant Zore</p>
        <small class="text-uppercase role">Admin</small>
      </div>
    </div>
    <div class="sidebar-search pt-1 pb-1 pl-3 pr-3">
      <input type="search" class="form-control rounded-pill" name="search" placeholder="Search ...">
    </div>
    <nav class="sidebar-menu pt-3 pb-3">
      <!-- <div class="menu-header mt-3 mb-2">
        Components
      </div> -->
      <ul class="menu-items">
        <li >
          <a href="#" routerLink="/geodesics" routerLinkActive="active">
            <i class="fa fa-tv"></i>
            <span>Survey</span>
            <!-- <span class="badge badge-warning rounded-0 text-dark p-1">NEW</span> -->
          </a>
        </li>
        <li>
          <a href="#" routerLink="/detailedSurvey" routerLinkActive="active">
            <i class="fas fa-gem"></i>
            <span>Detailed Survey</span>
          </a>
        </li>
        <li>
          <a href="#" routerLink="/admin" routerLinkActive="active">
            <i class="fa fa-table"></i>
            <span>Admin</span>
          </a>
        </li>
        <li>
          <a href="#" routerLink="/influentialGraph" routerLinkActive="active">
            <i class="fa fa-table"></i>
            <span>Influential Graph</span>
          </a>
        </li>
        <li>
          <a href="#" routerLink="/individalAnalysis" routerLinkActive="active">
            <i class="fa fa-align-center"></i>
            <span>Individual Influentiality</span>
          </a>
        </li>
        <li>
          <a  routerLinkActive="active">
            <i class="fa fa-globe"></i>
            <span>Help</span>
          </a>
        </li>
        <li>
          <a   routerLinkActive="active">
            <i class="fas fa-bell"></i>
            <span>Contact Us</span>
          </a>
        </li>
      </ul>
     
    </nav>
  </aside>