 <div class="login-box">

    Geodesics

    <div class="row g-2">
        <div class="col-md">
         
            <label for="floatingInputGrid">Email address</label>
        
        </div>
        <div class="col-md">
          <div class="form-floating">
            <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
              <option selected>Open this select menu</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
            <label for="floatingSelectGrid">Works with selects</label>
          </div>
        </div>
      </div>
</div>

<!-- https://getbootstrap.com/docs/5.0/forms/floating-labels/
https://www.w3schools.com/bootstrap5/tryit.asp?filename=trybs_form_floating_labels&stacked=h -->