<!-- <section class="h-100 gradient-form" style="background-color: #eee;"> -->
    <!-- <div class="container py-5 h-100"> -->
      <!-- <div class="row d-flex justify-content-center align-items-center h-100"> -->
        <div class="row">
        <div class="col-xl-12">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">
  
                  <div class="text-center">
                    <img src="assets\img\360-feedback.png"
                      style="width: 185px;" alt="logo">
                    <h4 class="mt-1 mb-5 pb-1">360-Degree Feedback</h4>
                  </div>
  
                  <form>
                    <p>Please login to your account</p>
  
                    <div class="form-outline mb-4">
                      <label class="form-label" for="form2Example11">Username</label>
                      <input type="email" id="form2Example11" class="form-control"
                        placeholder="Phone number or email address" />
                  
                    </div>
  
                    <div class="form-outline mb-4">
                      <label class="form-label" for="form2Example22">Password</label>
                      <input type="password" id="form2Example22" class="form-control" />
                      
                    </div>
  
                    <div class="text-center pt-1 mb-5 pb-1">
                      <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" >Log
                        in</button>
                      <a class="text-muted"  disabled>Forgot password?</a>
                    </div>
  
                    <div  class="d-flex align-items-center justify-content-center pb-4">
                      <p class="mb-0 me-2" disabled>Don't have an account?</p>
                      <button type="button" class="btn btn-outline-danger" disabled>Create new</button>
                    </div>
  
                  </form>
  
                </div>
              </div>
              <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                  <h4 class="mb-4">We are more than just an influentiality Calculator</h4>
                  <p class="small mb-0">Influentiality of person also we should cover all the aspects so for that we need feedback of every group
                    member called as 360-degree feedback. The aim of this research is to demonstrate the use of
                    betweenness to show better influential personality among the group as well as individual's influentiality
                    using group members as a vertices and personal relationship as edges. we are use betweenness formula
                    by If a leader having more influence is selected then he can handle complex situations very smoothly
                    also from individual's influentiality management can try to groom them on topics where they lag..</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- </div> -->
    <!-- </div> -->
  <!-- </section> -->