

<!-- <div>
    <app-navbar></app-navbar>
   
    <div class=" h-100" >
        <router-outlet ></router-outlet>
    </div>
    
    <app-footer></app-footer>
</div> -->


<div class="wrapper default-theme" [ngClass]="getClasses()">
    <app-navbar></app-navbar>
  <main>
    <app-side-bar></app-side-bar>
    <div class="pages container-fluid pt-4 pb-4 pl-4 pr-4 ">
      <router-outlet></router-outlet>
      <hr>
      <app-footer></app-footer>
    </div>
    <div class="overlay" (click)="toggleSidebar()"></div>
  </main>
   
  </div>